<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../styles/login.css">
    </head>
    <body>
        <!-- Go Back Home Button -->
        <a href="index.html" class="back-home">Go Back Home</a>

        <div class="container">
            <div class="title-container">
                <img src="../assets/icons/logo_black.png"
                    alt="Logo">
                <img src="../assets/icons/name_black.png"
                    alt="Site Title">
            </div>
            <h2>Login</h2>
            <form id="loginForm" action="/login" method="POST">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail" name="email" required
                    placeholder="Email">

                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword" name="password"
                    required placeholder="Password">

                <div class="show-password-container">
                    <input type="checkbox" id="showPassword">
                    <label for="showPassword">Show Password</label>
                </div>

                <input type="submit" value="Login">
                <div id="loginError" class="error">
                    {% if error %}
                    {{ error }}
                    {% endif %}
                </div>
            </form>

            <div class="register-link">
                <p>Don't have an account? <a
                        href="../templates/register.html">Create one here</a></p>
            </div>
        </div>
        <script>
        const showPassword = document.getElementById('showPassword');
        const loginForm = document.getElementById('loginForm');
        if (showPassword) {
            document.getElementById('showPassword').addEventListener('change', function() {
                const passwordField = document.getElementById('loginPassword');
                passwordField.type = this.checked ? 'text' : 'password';
            });
        }
        </script>
    </body>
</html>
