<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="../styles/register.css">
    </head>
    <body>
        <div class="container">
            <div class="title-container">
                <img src="../assets/icons/logo_black.png" alt="logo">
                <img src="../assets/icons/name_black.png" alt="name">
            </div>

            <h2>Register</h2>
            <form id="registerForm">
                <label for="full_name">Full Name</label>
                <input type="full_name" id="registerName" required
                    placeholder="Type your full name">
                <label for="contact_no">Contact Number</label>
                <input type="contact_no" id="registerNumber" required
                    placeholder="Type your contact number">
                <label for="email">Email</label>
                <input type="email" id="registerEmail" required
                    placeholder="Type email">

                <label for="password">Password</label>
                <input type="password" id="registerPassword" required
                    placeholder="Type password">

                <input type="submit" value="Register">
                <div id="registerError" class="error"></div>
            </form>

            <div class="login-link">
                <p>Already have an account? <a
                        href="login.html">Login
                        here</a></p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
