<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Lost2Found</title>
</head>
<body>

    <div class="welcome-container">
        <!-- Display the uploaded image -->
        <img src="../assets/icons/logo_black.png" alt="Uploaded Image">
        <h1>Lost2Found</h1>
    </div>

    <script>
        // Redirect to home page after 5 seconds
        setTimeout(function() {
            window.location.href = "../index.html"; // Update this path to your actual home page
        }, 3000); // 3 seconds delay
    </script>

</body>
</html>
